<h1>Listing ahtletes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ahtletes.each do |ahtlete| %>
      <tr>
        <td><%= link_to 'Show', ahtlete %></td>
        <td><%= link_to 'Edit', edit_ahtlete_path(ahtlete) %></td>
        <td><%= link_to 'Destroy', ahtlete, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ahtlete', new_ahtlete_path %>
